#navbar-logo {
    width: 74px; 
    height:74px;
}

#nikon-accessories-title {
    text-align: center;
    margin: 30px;
}

.dslr-accessories-and-more {
	display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.dslr-accessories-and-more img {
    width: 555px;
    height: 342.25px;
    margin-top: 15px;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

.flash-accessories-and-more {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.flash-accessories-and-more img {
    width: 250px;
    height: 208.67px;
    margin: 75px 75px 5px 75px;
    align-items: center;
}

.more-accessories {
	display: flex;
    flex-wrap: row;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.more-accessories p {
    text-align: center;
}

#more-accessories-title {
    text-align: center;
    margin-top: 50px;
}

.more-accessories section {
	margin: 50px;
}

/*.accessories img {
	width: 555px;
	height: 342.25px;
}*/

img {
	height: 120px;
	width: 120px;

}

#flash-accessories-and-more {
    color: black;
    font-weight: bold;
    font-size: 14px;
}
