.point-and-shoot-nav img {
	height: 67px;
	width: 67px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 25px;
}

.point-and-shoot-nav p {
	text-align: center;
}

.point-and-shoot-nav ul {
	list-style: none;
	text-align: center;
}

.point-and-shoot-nav li {
	display: inline-block;
	margin-right: 25px;
}





.budget-background img {
	height: 350px;
	width: 100%;
	z-index: -5;
    position:relative;
}

.budget-friendly-cameras img {
	height: 203.30px; 
}

.budget-friendly-cameras p {
	text-align: center;
	margin-top: 20px;
}

.budget-friendly-cameras {
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
	margin-top: -210px;
}

#COOLPIX-A300 img {
	width: 374.38px; 
	height: 318.22px;
	margin-right: -20px;
}

##COOLPIX-A300 p {
	margin-right: -20px;
}

#COOLPIX-A10 img {
	width: 374.38px; 
	height: 318.22px;
}