.dx-cameras-top-image {
	background-image: url(../images/dx-gallery-1.jpg);
	background-size: 1000px 300px, contain;
	background-repeat: no-repeat;
	background-position: center 40px;
	height: 225px;
	width: 100%;
}

.dx-cameras {
	display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.dx-cameras img {
    width: 254.98px;
    height: 216.69px;
    margin-top: 15px;
    padding: 20px;
    margin: 20px;
    align-items: center;
}
