h1 {
	text-align: center;
}

.horizontal-scroll-wrapper {
	display: flex;
	flex-wrap: row;
  	width: 100%;
  	overflow-y: auto;
  	overflow-x: auto;
}

.horizontal-scroll-wrapper > div {
	margin: 25px;
	text-align: center;
}

#yellow-button {
	background-color: #ffdd00;
	border-color: #ffdd00;
}

#NIKKOR-Z-58mm-f-0-95-S-Noct img {
	width: 280px;
}

#NIKKOR-Z-24mm-f-1-8-S img {
	width: 280px;
	margin-top: 134px;
}

#NIKKOR-Z-85mm-f-1-8-S img {
	width: 280px;
	margin-top: 129px;
}

#NIKKOR-Z-24-70mm-f-2-8-S img {
	width: 280px;
	margin-top: 52px;
}

#NIKKOR-Z-14-30mm-f-4-S img {
	width: 280px;
	margin-top: 142px;
}

#NIKKOR-Z-24-70mm-f-4-S img {
	width: 280px;
	margin-top: 142px;
}

#NIKKOR-Z-35mm-f-1-8-S img {
	width: 280px;
	margin-top: 145px;
}

#NIKKOR-Z-50mm-f-1-8-S img {
	width: 280px;
	margin-top: 149px;
}

#not-bold {
	font-weight: normal;
	font-size: 24px;
}

#bold {
	font-weight: bold;
	font-size: 12px;
}

#bottom-paragraph {
	font-size: 14px;
}

/*.horizontal-scroll-wrapper img {
	width: 280px;
}*/