.point-and-shoot-nav img {
	height: 67px;
	width: 67px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 25px;
}

.point-and-shoot-nav p {
	text-align: center;
}

.point-and-shoot-nav ul {
	list-style: none;
	text-align: center;
}

.point-and-shoot-nav li {
	display: inline-block;
	margin-right: 25px;
}





.slim-background img {
	height: 350px;
	width: 100%;
	z-index: -5;
    position:relative;
}

.slim-zoom-cameras img {
	height: 203.30px; 
}

.slim-zoom-cameras p {
	text-align: center;
	margin-top: 20px;
}

.slim-zoom-cameras {
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
	margin-top: -305px;
}

#COOLPIX-B500 img {
	height: 203.30px; 
	margin-right: -50px;
}

#COOLPIX-B500 p {
	margin-right: -50px;
}

#COOLPIX-P1000 img {
	width: 270.39px;
	height: 229.83px;
	margin-top: 100px;
	margin-right: -50px;
}

#COOLPIX-P1000 p {
	margin-right: -50px;
}

#COOLPIX-B600 img {
	width: 281.83px;
	height: 239.55px;
	margin-top: 150px;
}

#COOLPIX-B900 img {
	width: 270.39px;
	height: 229.83px;
	margin-left: -50px;
	margin-top: 100px;
	z-index: -1;
    position:relative;
}

#COOLPIX-B900 p {
	margin-left: -50px;
}

#COOLPIX-B700 img {
	width: 239.19px;
	height: 203.3px;
	margin-left: -50px;
	z-index: -2;
    position:relative;
}

#COOLPIX-B700 p {
	margin-left: -50px;
}