.Find-Answers {
	background-color: #e6e6e6;
	padding-top: 15px;
	padding-bottom: 15px;
}

#Find-Answers {
	display: flex;
	justify-content: center;
	color: #404040;
	font-weight: normal;
}

#Search-Nikon-Support-Articles input {
	width: 500px;
}

#Nikon-Support-Search-Form {
	justify-content: center;
}

#Search-Nikon-Support-Articles-Button {
	background-color: #fd0;
	border-color: #fd0;
	color: black;
}