.header {
	background-color: gray;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header p {
	color: white;
	margin-left: 5rem;
	margin-bottom: 5px;
	font-size: 14px;
}

.header h2 {
	color: white;
	font-weight: normal;
	margin-left: 5rem;
	font-size: 28px;
}

.Find-Answers {
	background-color: #e6e6e6;
	padding-top: 15px;
	padding-bottom: 15px;
}

#Find-Answers {
	display: flex;
	justify-content: center;
	color: #404040;
	font-weight: normal;
}

#Search-Nikon-Support-Articles input {
	width: 500px;
}

#Nikon-Support-Search-Form {
	justify-content: center;
}

#Search-Nikon-Support-Articles-Button {
	background-color: #fd0;
	border-color: #fd0;
	color: black;
}

.register {
	display: flex; 
}

.download {
	display: flex;
}

.column {
	flex: 50%;
	padding: 10px;
	margin-top: 25px;
}

.column img {
	margin-left: 150px;
}

#Register-Your-Product {
	text-align: center;
}

#Register-Your-Product-h3 {
	text-align: center;
	margin-top: 50px;
}

#Register-a-Product-Button {
	display: flex;
	margin: auto;
}

#Download-Center-h3 {
	text-align: center;
	margin-top: 25px;
}

#Download-Center {
	text-align: center;
}

#Manuals-Button {
	display: flex;
	margin: auto;
}

#Firmware-Button {
	display: flex;
	margin: auto;
}

#Software-Button {
	display: flex;
	margin: auto;
}