h3 {
	text-align: center;
}

#Search-Nikon-Support-Articles input {
	width: 300px;
}

#Nikon-Support-Search-Form {
	justify-content: center;
}

#Search-Nikon-Support-Articles-Button {
	background-color: #fd0;
	border-color: #fd0;
	color: black;
}