.point-and-shoot-nav img {
	height: 67px;
	width: 67px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 25px;
}

.point-and-shoot-nav p {
	text-align: center;
}

.point-and-shoot-nav ul {
	list-style: none;
	text-align: center;
}

.point-and-shoot-nav li {
	display: inline-block;
	margin-right: 25px;
}





.waterproof-shockproof-background img {
	height: 350px;
	width: 100%;
	z-index: -5;
    position:relative;
}

.waterproof-shockproof-cameras img {
	height: 203.30px; 
}

.waterproof-shockproof-cameras p {
	text-align: center;
	margin-top: 20px;
}

.waterproof-shockproof-cameras {
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
	margin-top: -305px;
}

#COOLPIX-W100 img {
	width: 374.38px;
	height: 318.22px;
	margin-top: 100px;
	margin-right: -10px;
}

#COOLPIX-W100 p {
	margin-right: -50px;
}

#COOLPIX-W150 img {
	width: 388.25;
	height: 330px;
	margin-top: 150px;
}

#COOLPIX-W300 img {
	width: 374.38px;
	height: 318.22px;
	margin-left: -10px;
	margin-top: 100px;
	z-index: -1;
    position:relative;
}

#COOLPIX-W300 p {
	margin-left: -50px;
}